/* #FAAA37, #F5B88E , #AD7242 , #F2C09D, #40322C
*/

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    font-family: 'Patrick Hand', cursive;
  
}
body{
    background-image: linear-gradient(to top, #F2C09D,#F5B88E, #FAAA37);
}
.top__bg{
    box-sizing: border-box;
    height: 35rem;
    margin-top: 4%;
    width: 65rem;
    background-color: white;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
   border-radius: 12px;
}
li {
    list-style-type: none;
}
.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.logo{
    width:100px;
}
body {
    overflow-x: hidden;
}
header {
  
    top: 3px;
    right: 0;
    left: 0;
    height: 0;
    z-index: 1;
    background-color: #fff;
    /*
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    padding: 0 30px 0 52px; 
    */
    justify-content: space-around;
    align-items: flex-start;
   
}
header .logo {
    align-items: flex-start;
  
}
header .logo img {
    margin: 0 0 10px 0;
}

nav {
    height: inherit;
    width: 50%;
}
nav ul {
    width: 100%;
   height: inherit;
   align-items: center;
   justify-content: space-between;
}

nav a {
    
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
font-style: normal;
color: #4D4D4D;
    white-space: nowrap;
}
main{
    padding: 65px 0 0 0px;
}
main .circle{
    box-sizing: border-box;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    background-color: #dacf696c;
}
main .content1{
    display: none;
}
main h4 {

    text-align:center;
    font-size: 3vh;
}
main p{
    text-align:center;
    font-size: 2vh;
}
main .red{
    text-decoration:underline;
    color:red;
}
.un{
 position: absolute;
top: 19rem;
bottom:70px;
}
.deux{
  text-align:right;
 margin-top:-14rem;
 margin-bottom: 8rem;
}
.trois{
 text-align:center;
 margin-top: 16.6rem;
}

/*Mobile*/
     
@media only screen and (max-width: 1150px) {
    body{
        background-image: linear-gradient(to top, #F2C09D,#F5B88E, #FAAA37);
    }
    .top__bg{
        box-sizing: border-box;
        height: 35rem;
        margin-top: 10%;
        width: 62rem;
        background-color: white;
       margin-left: auto;
       margin-right: auto;
       box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
       border-radius: 12px;
       overflow: hidden;
    }
    li {
        list-style-type: none;
    }
    .flex {
        display: flex;
    }
    .col {
        flex-direction: column;
    }
    .row {
        flex-direction: row;
    }
    .logo{
        width:100px;
    }
    body {
        overflow-x: hidden;
    }
    header {
      
        top: 3px;
        right: 0;
        left: 0;
        height: 0;
        z-index: 1;
        background-color: #fff;
        /*
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
        padding: 0 30px 0 52px; 
        */
        justify-content: space-around;
        align-items: flex-start;
       
    }
    header .logo {
        align-items: flex-start;
      
    }
    header .logo img {
        margin: 0 0 10px 0;
    }
    
    nav {
        height: inherit;
        width: 50%;
    }
    nav ul {
        width: 100%;
       height: inherit;
       align-items: center;
       justify-content: space-between;
    }
    
    nav a {
        
        text-decoration: none;
        font-family: 'Patrick Hand', cursive;
    font-style: normal;
    color: #4D4D4D;
        white-space: nowrap;
    }
    main{
        padding: 65px 0 0 0px;
    }
    main .circle{
        box-sizing: border-box;
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7%;
        background-color: #dacf696c;
    }
    main .content1{
        display: none;
    }
    main .content{
        position: absolute;
        top: 17rem;
        left: 10rem;
    }
    main h4 {
    
        text-align:center;
        font-size: 3.3vh;
    }
    main p{
        text-align:center;
        font-size: 2.3vh;
    }
    main .red{
        text-decoration:underline;
        color:red;
    }
    .un{
     position: absolute;
    top: 19rem;
    bottom:70px;
    }
    .deux{
      text-align:right;
     margin-top:-14rem;
     margin-bottom: 8rem;
    }
    .trois{
     text-align:center;
     margin-top: 16rem;
    }
}

@media only screen and (max-width: 770px) {
    body{
    overflow: hidden;
        background-image: linear-gradient(180deg, #F2C09D,#F5B88E, #FAAA37);
    }
    header {
        position: fixed;
        top: 0px;
        right: 0;
        left: 0;
        height: 70px;
        z-index: 1;
        background-color: #fff;
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      }
      .top__bg{
        box-sizing: border-box;
    height: 65vh;
    max-width: 100%;
        margin-top:30%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding:50px 0 0 0;
        background-color: white;
       box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
       border-radius: 12px;
      overflow: hidden;
    }
    li {
        list-style-type: none;
    }
    .flex {
        display: flex;
    }
    .col {
        flex-direction: column;
    }
    .row {
        flex-direction: row;
    }
    .logo{
        width:100px;
    }

    nav ul.flex.row {
        padding-top: 80px;
        z-index: 2;
        justify-content: flex-start;
        background:white;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        min-height: 110vh;
        flex-direction: column;
        overflow: hidden;
        transition-duration: 300ms;
        transform: translateX(-100%);
      }
      nav.open ul.flex.row {
        transform: translateX(0);
      }
      nav {
        width: fit-content;
      }
      nav ul.flex.row li {
        margin-bottom: 40px;
      }
      #nav-icon {
        margin: 0 1rem 0 0;
        position: relative;
        z-index: 4;
        margin-top: 25px;
        width: 35px;
        height: fit-content;
        cursor: pointer;
      }
      #nav-icon div {
        border-radius: 2px;
        height: 3px;
        width: 35px;
        margin-bottom: 10px;
        background-color:black;
        transition-duration: 300ms;
      }
      #nav-icon div:nth-child(3) {
        margin-bottom: 0;
      }
      .open #nav-icon div:nth-child(1) {
        transform: rotateZ(-45deg) translateX(-8px) translateY(10px);
        color: black;
      }
      .open #nav-icon div:nth-child(2) {
        opacity: 0;
        color: black;
      }
      .open #nav-icon div:nth-child(3) {
        transform: rotateZ(45deg) translateX(-8px) translateY(-10px);
        color: black;
      }
      main{
        overflow: hidden;
        width: 1366px;
        max-width: calc(100% - 20px);
        padding: 0 10px;
        margin: 0 auto;
    }
      main .circle{
        display: none;
      }
      main h4 {
    
        text-align:center;
        font-size: 3.5vh;
    }
    main p{
        text-align:center;
        font-size: 2vh;
    }
      main .content1{
          display: block;
          text-align:center;
      }
          .un, .deux,.trois{
            display: none;
            }
      
        }


@media only screen and (max-width: 400px) {
    @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    font-family: 'Patrick Hand', cursive;
  
}

body{
    overflow: hidden;
    background-image: linear-gradient(180deg, #F2C09D,#F5B88E, #FAAA37);
}

.top__bg{
    box-sizing: border-box;
    height: 50vh;
max-width: 100%;
    margin-top:50%;
    margin-bottom: 40%;
    width: 60vh;
    margin-left: auto;
   margin-right: auto;
    background-color: white;
   box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
   border-radius: 12px;
   overflow: hidden;
}
 
li {
    list-style-type: none;
}
.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.logo{
    width:100px;
}

header {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    height: 70px;
  
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
nav ul.flex.row {
    padding-top: 80px;
    z-index: 2;
    justify-content: flex-start;
    background:white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 110vh;
    flex-direction: column;
    overflow: hidden;
    transition-duration: 300ms;
    transform: translateX(-100%);
  }
  nav.open ul.flex.row {
    transform: translateX(0);
  }
  nav {
    width: fit-content;
  }
  nav ul.flex.row li {
    margin-bottom: 40px;
  }
  #nav-icon {
    margin: 0 1rem 0 0;
    position: relative;
    z-index: 4;
    margin-top: 25px;
    width: 35px;
    height: fit-content;
    cursor: pointer;
  }
  #nav-icon div {
    border-radius: 2px;
    height: 3px;
    width: 35px;
    margin-bottom: 10px;
    background-color:black;
    transition-duration: 300ms;
  }
  #nav-icon div:nth-child(3) {
    margin-bottom: 0;
  }
  .open #nav-icon div:nth-child(1) {
    transform: rotateZ(-45deg) translateX(-8px) translateY(10px);
    color: black;
  }
  .open #nav-icon div:nth-child(2) {
    opacity: 0;
    color: black;
  }
  .open #nav-icon div:nth-child(3) {
    transform: rotateZ(45deg) translateX(-8px) translateY(-10px);
    color: black;
  }
  main{
      overflow: hidden;
      width: 1366px;
      max-width: calc(100% - 20px);
      padding: 0 10px;
      margin: 0 auto;
  }
 main h4{
    text-align:center;
    font-size: 11.9px;
 }
 main p{
    text-align:center;
    font-size: 8.9px;
 }
main .circle{
  display: none;
}
main .content1{
    display: block;
    text-align:center;

}
    .un, .deux,.trois{
       display: none;
       }

}




